
.vs/BattleShip/v15/.suo
.vs/BattleShip/v15/Browse.VC.db
.vs/BattleShip/v15/Browse.VC.opendb
.vs/BattleShip/v15/ipch/AutoPCH/1d781ce25b551e38/STATEPANEL.ipch
*.ipch
x64/Debug/BattleShip.exe
x64/Debug/BattleShip.ilk
x64/Debug/BattleShip.pdb
BattleShip/x64/Debug/BattleShip.log
BattleShip/x64/Debug/BattleShip.log
BattleShip/x64/Debug/BattleShip.tlog/CL.command.1.tlog
BattleShip/x64/Debug/BattleShip.tlog/CL.read.1.tlog
BattleShip/x64/Debug/BattleShip.tlog/CL.write.1.tlog
BattleShip/x64/Debug/Console.obj
BattleShip/x64/Debug/vc141.idb
BattleShip/x64/Debug/vc141.pdb
*.log
BattleShip/x64/Debug/BattleShip.log
BattleShip/x64/Debug/BattleShip.obj
BattleShip/x64/Debug/BattleShip.tlog/CL.command.1.tlog
BattleShip/x64/Debug/BattleShip.tlog/CL.read.1.tlog
BattleShip/x64/Debug/BattleShip.tlog/CL.write.1.tlog
BattleShip/x64/Debug/Console.obj
BattleShip/x64/Debug/Game.obj
BattleShip/x64/Debug/vc141.idb
BattleShip/x64/Debug/vc141.pdb
BattleShip/x64/Debug/BattleShip.log
